.left__content{
    display: flex;
    border: 1px solid black;
    background-color: aqua;
}
.card{
    background-color: aqua;
    border: 1px solid blue;
}
right__content{
    display:flex;
    justify-content: center;
}